{% extends 'base.html' %}

{% if dienst_list %}

{% block title %} Dienstplan {% endblock %}

{% block content %}
<h2>Dienstplan</h2>
<div class="table-responsive">
    <table class="table">
    <tr>
        <th>Nr.</th>
        <th>Gebiet</th>
        <th>Beginn</th>
        <th>Ende</th>
        <th>Art</th>
        <th>Einsatzkräfte</th>
        <th>Anwärter</th>
        <th>Anmeldung</th>
    </tr>
    {% for dienst in dienst_list %}
    <tr>
        <td><a href="{% url 'dienstplan:dienst_detail' dienst.dienstnummer %}">{{ dienst.dienstnummer }}</a></td>
        <td>{{ dienst.dienstgebiet.name }}</td>
        <td>{{ dienst.dienstbeginn }}</td>
        <td>{{ dienst.dienstende }}</td>
        <td>{{ dienst.art.name }}</td>
        <td> {% for nimmtTeil in dienst.nimmtteilandienst_set.all %}
            {% if nimmtTeil.mitglied in nimmtTeil.mitglied.getAEK %}
            {{ nimmtTeil.mitglied.user.first_name }} {{ nimmtTeil.mitglied.user.last_name }} ({{ nimmtTeil.funktion }})
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td> {% for nimmtTeil in dienst.nimmtteilandienst_set.all %}
            {% if nimmtTeil.mitglied in nimmtTeil.mitglied.getAnwaerter %}
            {{ nimmtTeil.mitglied.user.first_name }} {{ nimmtTeil.mitglied.user.last_name }} ({{ nimmtTeil.funktion }})
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td><a href="{% url 'dienstplan:dienst_anmeldung' dienst.dienstnummer %}" class="btn btn-primary" role="button">Anmelden</a>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
{% else %}
<p>Keine aktuellen Dienste angelegt!</p>
{% endif %}