{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/addition.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.css' %}">
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>


<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}Bergwacht Tool{% endblock %}</title>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="{% static 'img/Logo-253.png' %}" alt="BW München"
                                                          height="23px"></a>
                    <a href="/" class="navbar-brand">Bergwacht München</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                    <ul class="nav navbar-nav">
                        <li><a href="/dienstplan/dienst_overview">Dienstplan</a></li>
                        <li><a href="/dienstplan/mitglieder_overview">Mitglieder</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">
                        {% if user.is_authenticated %}
                        Angemeldet als {{request.user.first_name}}
                        {{request.user.last_name}} - <a href="/logout/">Logout</a>
                        {% else %}
                        <a href="/login/">Login</a>
                        {% endif %}
                    </p>
                </div>

            </div>
        </div>
    </nav>
</head>

<body>

<div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% block content %}{% endblock %}
</div>
</body>
</html>